<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>cashbook</title>

<script th:src="@{/js/jquery-3.6.0.js}"></script>

</head>
<body>
<header>
<h1>[ 내 가계부 ]</h1>
</header>

<section>
<table>
	<tr>
		<th>날짜</th>
		<th>구분</th>
		<th>메모</th>
		<th>금액</th>
	</tr>
	<tr th:each="board : ${boardlist}">
		<td th:text="${board.inputdate}"></td>
		<td th:text="${board.type}"></td>
		<td th:text="${board.memo}">
		<td th:text="${board.amount}"></td>
	</tr>
</table>
</section>

</body>
</html>
